
@{
    ViewData["Title"] = "Издательства";
}


<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Author" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <tr>
        <th>id</th>
        <th>Название</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Почта</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.idPublisher</td>
            <td>@item.publisherName</td>
            <td>@item.adress</td>
            <td>+@item.phone</td>
            <td>@item.mail</td>
            <td>
                <a asp-controller="Author" asp-action="Edit" asp-route-id="idPublisher">Изменить</a> |
                <a asp-controller="Author" asp-action="Delete" asp-route-id="idPublisher">Удалить</a>
            </td>
        </tr>
    }
    </table>